{% extends 'shop/wrapper.html' %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Цена</th>
      <th scope="col">Количество</th>
    </tr>
  </thead>
  <tbody>
  	{% for product, count in products %}	
    <tr>
      <td>{{product.title}}</td>
      <td><span class=price>{{product.price}} грн</span></td>
      <td>{{count}}</td>
    </tr>
    {% endfor %}
  </tbody>
   <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Общая стоимость:</th>
      <th scope="col">{{sum}} грн</th>
    </tr>
  </thead>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"><a href="{% url 'cart_clear' %}" class="btn btn-primary btn-size">Очистить корзину</a></th>
      {% if sum > 0 %}
      <th scope="col"><a href="{% url 'order' %}" class="btn btn-primary btn-size">Оформить</a></th>
      {% elif sum == 0 %}
      <th scope="col"><a href="#" class="btn btn-secondary btn-size">Оформить</a></th>
      {% endif %}
    </tr>
  </thead>
</table>
{% endblock %}
