{% extends 'shop/base.html' %}

{% block content %}
{% load i18n %}
<!-- добавить валюту -->
<div class="container">
  <h1></h1>
  <div class="row">
    {% include 'shop/left.html' %}
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">{% trans 'main' %}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'categories' %}">{% trans 'categories' %}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'category' category=product.category.id %}">{{product.category}}</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
        </ol>
      </nav>
      <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-6">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <a href="" data-toggle="modal" data-target="#productModal">
                <img class="img-fluid" src="{{product.image.url}}" />
              </a>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 add_to_cart_block">
          <div class="card bg-light mb-3">
            <div class="card-body">
              <h1 class="center">{{product.title}}</h1>
              <p class="price">{{product.price|floatformat}} грн</p>
              <!-- <p class="price_discounted">149.90 $</p> -->
              <form action="/cart/add/" method="post">
                {% csrf_token %}
<!--                         <div class="form-group">
                            <label for="colors">Color</label>
                            <select class="custom-select" id="colors">
                                <option selected>Select</option>
                                <option value="1">Blue</option>
                                <option value="2">Red</option>
                                <option value="3">Green</option>
                            </select>
                          </div> -->
                          <div class="form-group">
                            <input class="form-control" type="hidden" value="{{product.id}}" name="product_id">
                            <label>{% trans 'count' %} :</label>
                            <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <button type="button" class="quantity-left-minus btn btn-danger btn-number"  data-type="minus" data-field="">
                                  <i class="fa fa-minus"></i>
                                </button>
                              </div>
                              <input type="number" class="form-control"  id="quantity" name="count" min="1" max="100" value="1">
                              <div class="input-group-append">
                                <button type="button" class="quantity-right-plus btn btn-success btn-number" data-type="plus" data-field="">
                                  <i class="fa fa-plus"></i>
                                </button>
                              </div>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-success btn-lg btn-block text-uppercase">{% trans 'buy' %}</button>
                        </form>
<!--                     <div class="product_rassurance">
                        <ul class="list-inline">
                            <li class="list-inline-item"><i class="fa fa-truck fa-2x"></i><br/>Fast delivery</li>
                            <li class="list-inline-item"><i class="fa fa-credit-card fa-2x"></i><br/>Secure payment</li>
                            <li class="list-inline-item"><i class="fa fa-phone fa-2x"></i><br/>+33 1 22 54 65 60</li>
                        </ul>
                      </div> -->
<!--                     <div class="reviews_product p-3 mb-2 ">
                        3 reviews
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        (4/5)
                        <a class="pull-right" href="#reviews">View all reviews</a>
                    </div>
                    <div class="datasheet p-3 mb-2 bg-info text-white">
                        <a href="" class="text-white"><i class="fa fa-file-text"></i> Download DataSheet</a>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <!-- Description -->
                <div class="col-12">
                  <div class="card border-light mb-3">
                    <div class="card-header bg-secondary text-white text-uppercase"><i class="fa fa-align-justify"></i> {% trans 'description' %}</div>
                    <div class="card-body">
                      <p class="card-text">
                        {{product.text}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
          $(document).ready(function(){
            var quantity = 1;

            $('.quantity-right-plus').click(function(e){
              e.preventDefault();
              var quantity = parseInt($('#quantity').val());
              if(quantity < 100){
                $('#quantity').val(quantity + 1);
              }
            });

            $('.quantity-left-minus').click(function(e){
              e.preventDefault();
              var quantity = parseInt($('#quantity').val());
              if(quantity > 1){
                $('#quantity').val(quantity - 1);
              }
            });

          });
        </script>
        {% endblock %}
